<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 목록</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>상품 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>가격</th>
        <th>이미지</th>
        <th>상세</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td>
            <img th:src="${product.getImageUrl()}" alt="이미지 없음" width="80" height="80"/>
        </td>
        <td><a th:href="@{/products/{id}(id=${product.getId()})}">조회</a></td>
        <td><a th:href="@{/products/edit/{id}(id=${product.getId()})}">수정</a></td>
        <td>
            <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="button">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${not #lists.isEmpty(products)}">
    <form id="pageForm" th:action="@{/products/view}" method="get" style="display:inline;">
        <label for="pageInput">페이지:</label>
        <input type="number" id="pageInput" name="page"
               th:value="${currentPage}" min="1" th:max="${totalPages}" required style="width:50px;"/>
        <input type="hidden" name="pageSize" th:value="${pageSize}" />
        <button type="submit">이동</button>
        <span th:text="'/ ' + ${totalPages} + ' 페이지'"></span>
    </form>
</div>


<button onclick="location.href='/products/add'">상품 등록</button>
</body>
</html>
