<html layout:decorate="~{members/layout}">
<div layout:fragment="content">
  <div id="productForm">
    <form th:action="@{/admin/members/add}" method="post">
      <p>
        <h3>회원 등록하기</h3>
      </p>
      <p style="display: flex; align-items: center; gap: 10px;">
        <strong>이메일</strong>
        <input type="text" name="email" placeholder="이메일 입력">
      </p>
      <p>
        <strong>비밀번호</strong>
        <input type="text" name="password" placeholder="비밀번호 입력">
      </p>
      <p>
        <input type="submit" value="회원 등록하기">
      </p>
    </form>
  </div>

</div>
</html>