<html layout:decorate="~{members/layout}">
<div layout:fragment="content">
  <table>

    <thead>
    <tr>
      <th>회원ID</th>
      <th>회원 이메일</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="memebr : ${memberList}">
      <td th:text="${memebr.memberId}"></td>
      <td th:text="${memebr.email}"></td>

<!--      <td>-->
<!--        <form th:action="@{}" method="post">-->
<!--          <button type="submit">상품 삭제</button>-->
<!--        </form>-->
<!--        <button th:onclick="|location.href='@{}'|">상품 수정</button>-->
<!--      </td>-->


    </tr>
    </tbody>
  </table>

</div>

</html>