<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 폼</title>
</head>
<body>
<h2>로그인</h2>
<form th:action="@{/admin/login}" th:method="post" th:object="${request}">
    <div>
        <label for="email">이메일: </label>
        <input id="email" type="text" th:field="*{email}">
    </div>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
    <div>
        <label for="password">비밀번호: </label>
        <input id="password" type="password" th:field="*{password}">
    </div>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
    <input type="submit" th:value="로그인">
</form>
</body>
</html>