<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 회원 추가</title>
</head>
<body>

<h1>새 회원 추가</h1>

<form th:action="@{/admin/members/add}" method="post" th:object="${member}">
    <p>
        <label for="email">이메일:</label><br>
        <input type="email" id="email" th:field="*{email}" size="30">
    <div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </p>

    <p>
        <label for="password">비밀번호:</label><br>
        <input type="password" id="password" th:field="*{password}">
    <div style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </p>

    <button type="submit">저장</button>
    <a href="/admin/members">취소</a>
</form>

</body>
</html>