<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Admin Panel</h1>
    <h2 th:if="${username != null}" th:text="'Current User: ' + ${username}">Current User</h2>
    <h2 th:if="${role != null}" th:text="'Current Role: ' + ${role}">Current Role</h2>
    <br>
    <form th:if="${role == null}" th:action="@{/admin/login}" method="get" style="display:inline-block">
        <button type="submit" style="padding:3px 6px; background-color:black; color:white; border-radius:4px; text-decoration: none; border:1px solid black; cursor:pointer; font-size: 14px;">Login as Admin</button>
    </form>
    <form th:if="${role != null}" th:action="@{/admin/logout}" method="post" style="display:inline-block;">
        <button type="submit" style="padding:3px 6px; background-color:black; color:white; border-radius:4px; text-decoration: none; border:1px solid black; cursor:pointer; font-size: 14px;">Logout</button>
    </form>
    <br>
    <a th:if="${role == 'ROLE_MD'}" href="/admin/product" style="display:inline-block; padding:3px 6px; background-color:green; color:white; border-radius:4px; text-decoration: none; border:1px solid green; font-size: 14px;;">Go to Product Management</a>
    <br>
    <a th:if="${role == 'ROLE_ADMIN'}" href="/admin/members" style="display:inline-block; padding:3px 6px; background-color:blue; color:white; border-radius:4px; text-decoration: none; border:1px solid blue; font-size: 14px;">Go to Member Management</a>
</body>
</html>
