<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 로그인</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>관리자 로그인</h1>
    <form th:action="@{/admin/login}"
          method="post"
          th:object="${member}">
        <p>
            <label>email:</label>
            <input type="text" th:field="*{email}" />
        </p>
        <p>
            <label>password:</label>
            <input type="password" th:field="*{password}" />
        </p>
        <button type="submit">Login</button>
    </form>
    <script th:if="${message}" th:inline="javascript">
        /*<![CDATA[*/
        alert([[${message}]]);
        /*]]>*/
    </script>
</body>
</html>