<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
</head>
<body>
    <h2>상품목록</h2>
    <form action="/admin/products/new"
          method="get" style="display:inline">
        <button type="submit">Create New Product</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>image</th>
                <th>name</th>
                <th>price</th>
                <th>View/Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product: ${products}">
                <td th:text="${product.id}" />
                <td>
                    <img th:src="${product.imageUrl}" width="50" />
                </td>
                <td th:text="${product.name}" />
                <td th:text="${product.price}" />
                <td>
                    <form th:action="@{/admin/products/{id}(id=${product.id})}"
                          method="get" style="display:inline">
                        <button type="submit">View/Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/admin/products/{id}(id=${product.id})}"
                          method="post" style="display:inline"
                          onsubmit="return confirm('Are you sure to delete?');">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <script th:if="${message}" th:inline="javascript">
        /*<![CDATA[*/
        alert([[${message}]]);
        /*]]>*/
    </script>
</body>
</html>