<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품정보 작성</title>
</head>
<body>
    <h2>상품정보 작성</h2>
    <h3 th:if="${productId != null}" th:inline="text">- [[${productId}]]번 상품</h3>
    <h3 th:if="${productId == null}">- 신규 상품</h3>
    <form th:action="${productId == null} ? @{/admin/products} : @{/admin/products/{id}(id=${productId})}"
          method="post"
          th:object="${product}">
        <input type="hidden" name="_method" value="put" th:if="${productId != null}" />
        <p>
            <label>name:</label>
            <input type="text" th:field="*{name}" />
        </p>
        <p>
            <label>price:</label>
            <input type="number" th:field="*{price}" />
        </p>
        <p>
            <label>imageUrl:</label>
            <input type="text" th:field="*{imageUrl}" />
        </p>
        <button type="submit" th:if="${productId == null}" >Create</button>
        <button type="submit" th:if="${productId != null}" >Apply Changes</button>
    </form>
    <form th:if="${productId != null}"
          th:action="@{/admin/products/{id}(id=${productId})}"
          method="post" style="display:inline"
          onsubmit="return confirm('Are you sure to delete?');">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">Delete</button>
    </form>
    <form action="/admin/products"
          method="get" style="display:inline">
        <button type="submit">Go to Product List</button>
    </form>
    <script th:if="${message}" th:inline="javascript">
        /*<![CDATA[*/
        alert([[${message}]]);
        /*]]>*/
    </script>
</body>
</html>