<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품정보 작성</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        a, button {
            padding: 3px 6px;
            border-radius: 4px;
            text-decoration: none;
            margin-right: 5px;
            font-size: 14px;
        }
        button {
            cursor: pointer;
        }
        a {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>상품정보 작성</h1>
    <h2 th:if="${productId != null}" th:inline="text">- [[${productId}]]번 상품</h2>
    <h2 th:if="${productId == null}">- 신규 상품</h2>
    <h3 th:if="${productId != null}" th:text="${validated} ? '✅상품이 검증 완료되어, 현재 공개 상태입니다' : '🛑상품명이 담당MD에 의해 검증되지 않은 상태입니다'">안내문</h3>
    <form th:if="${productId != null}"
          th:with="actionUrl='/admin/products/' + ${productId} + '?validated=' + ${!validated}"
          th:action="@{${actionUrl}}"
          method="post" style="display:inline">
        <input type="hidden" name="_method" value="patch" />
        <button type="submit">Change Validated Status</button>
    </form>
    <form th:action="${productId == null} ? @{/admin/products} : @{/admin/products/{id}(id=${productId})}"
          method="post"
          th:object="${product}">
        <input type="hidden" name="_method" value="put" th:if="${productId != null}" />
        <p>
            <label>name:</label>
            <input type="text" th:field="*{name}" />
        </p>
        <p>
            <label>price:</label>
            <input type="number" th:field="*{price}" />
        </p>
        <p>
            <label>imageUrl:</label>
            <input type="text" th:field="*{imageUrl}" />
        </p>
        <button type="submit" th:if="${productId == null}" >Create</button>
        <button type="submit" th:if="${productId != null}" >Apply Changes</button>
    </form>
    <form th:if="${productId != null}"
          th:action="@{/admin/products/{id}(id=${productId})}"
          method="post" style="display:inline"
          onsubmit="return confirm('Are you sure to delete?');">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">Delete</button>
    </form>
    <form action="/admin/products"
          method="get" style="display:inline">
        <button type="submit">Go to Product List</button>
    </form>
    <script th:if="${message}" th:inline="javascript">
        /*<![CDATA[*/
        alert([[${message}]]);
        /*]]>*/
    </script>
</body>
</html>