<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>유저 생성 페이지</title>
  <style>
    .error { color: red; }
  </style>
</head>
<body>
<div>
  <h2>유저 생성</h2>
  <form th:action="@{/admin/members}" th:object="${request}" method="post">
    <label>Email: <input type="text" th:field="*{email}" /></label>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>

    <label>Password: <input type="password" th:field="*{password}" /></label>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>

    <button type="submit">등록</button>
  </form>
</div>

<br>
<a th:href="@{/admin/members}">
  <button type="button">유저 목록으로 돌아가기</button>
</a>

</body>
</html>