<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>회원 수정</title>
</head>
<body>
<h1>회원 수정</h1>

<form th:action="@{/admin/members/{id}(id=${memberId})}"
      th:object="${member}" method="post">

    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}"/>
        <div th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}">이메일 오류
        </div>
    </div>

    <div>
        <label>New Password:</label>
        <input type="password" th:field="*{password}" placeholder="변경할 비밀번호"/>
        <div th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}">비밀번호 오류
        </div>
    </div>

    <button type="submit">수정</button>
</form>

<a th:href="@{/admin/members}">목록으로</a>
</body>
</html>
