<html layout:decorate="~{yjshop/admin/layout}">
<div layout:fragment="content">

  <nav>
    <div>
      <ul>
        <li><a th:href="@{/view/admin/members}">전체 회원 조회</a></li>
        <li><a th:href="@{/view/admin/members/add}">회원 등록 하기</a></li>
        <form th:action="@{/view/admin/members/search}" method="get">
          <input type="email" name="email" placeholder="회원 이메일 조회">
          <input type="submit" value="회원 검색하기">
        </form>
      </ul>
    </div>
  </nav>

  <div>
    <form th:action="@{/view/admin/members/add}" th:object="${memberRequestDto}" method="post">
      <p>
      <h3>회원 등록하기</h3>
      </p>
      <p style="display: flex; align-items: center; gap: 10px;">
        <strong>이메일</strong>
        <input type="email" name="email" placeholder="이메일 입력" th:value="${memberDto.email()}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: crimson;">Email Error</span>
      </p>
      <p style="display: flex; align-items: center; gap: 10px;">
        <strong>비밀번호</strong>
        <input type="text" name="password" placeholder="비밀번호 입력" th:value="${memberDto.password()}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: crimson;">Password Error</span>
      </p>
      <p>
        <input type="submit" value="회원 등록하기">
      </p>
    </form>

</div>
</html>


<!--<html layout:decorate="~{yjshop/admin/layout}">-->
<!--<div layout:fragment="content">-->

<!--  <nav>-->
<!--    <div>-->
<!--      <ul>-->
<!--        <li><a th:href="@{/view/admin/products}">전체 상품 보기</a></li>-->
<!--        <li><a th:href="@{/admin/products/add}">상품 등록 하기</a></li>-->
<!--        <form th:action="@{/view/products/search}" method="get">-->
<!--          <input type="text" name="name" placeholder="상품 아이디 입력">-->
<!--          <input type="submit" value="상품 검색하기">-->
<!--        </form>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<!--  <div id="productForm">-->
<!--    <form th:action="@{/admin/products/add}" th:object="${productRequestDto}" method="post">-->
<!--      <p>-->
<!--      <h3>상품 등록하기</h3>-->
<!--      </p>-->
<!--      <p style="display: flex; align-items: center; gap: 10px;">-->
<!--        <strong>상품명</strong>-->
<!--        <input type="text" name="name" placeholder="상품명 입력" th:value="${requestDto.name}">-->
<!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: crimson;">Name Error</span>-->
<!--      </p>-->
<!--      <p>-->
<!--        <strong>가격</strong>-->
<!--        <input type="number" name="price" placeholder="상품 가격 입력" th:value="${requestDto.price}">-->
<!--        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</span>-->
<!--      </p>-->
<!--      <p>-->
<!--        <strong>이미지 주소</strong>-->
<!--        <input type="text" name="imageUrl" placeholder="상품 이미지 주소 입력" th:value="${requestDto.imageUrl}">-->
<!--        <span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">imageUrl Error</span>-->
<!--      </p>-->
<!--      <p>-->
<!--        <input type="submit" value="상품 등록하기">-->
<!--      </p>-->
<!--    </form>-->
<!--  </div>-->

<!--</div>-->
<!--</html>-->
