<html layout:decorate="~{yjshop/admin/layout}">
<div layout:fragment="content">

  <div>
    <form th:action="@{/view/admin/members/modify/{id}(id=${member.memberId})}"
          th:method="post"
          th:object="${memberRequestDto}"
          class="admin-form">

      <h3>회원 수정하기</h3>

      <div class="form-group">
        <label><strong>이메일</strong></label>
        <input type="email" name="email" placeholder="이메일 입력" th:value="${member.email}">
        <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
      </div>

      <div class="form-group">
        <label><strong>비밀번호</strong></label>
        <input type="text" name="password" placeholder="비밀번호 입력" th:value="${member.password}">
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
      </div>

      <div class="form-buttons">
        <input type="submit" value="회원 정보 수정하기">
        <button type="button" th:onclick="|location.href='@{/view/admin/members}'|">수정 취소</button>
      </div>

    </form>
  </div>

</div>
</html>
