<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>유저 등록</title>
    <meta charset="UTF-8">

</head>
<body>
<h1>유저 등록</h1>

<form action="/admin/users/add" method="post">
    <div>
        <label>이메일:</label>
        <input name="userid">
    </div>
    <div>
        <label>비밀번호:</label>
        <input name="password">
    </div>
    <div>
        <label>역할:</label>
        <input name="role">
    </div>
    <div>
        <button type="submit">저장</button>
        <a th:href="@{/admin/users}">취소</a>
    </div>
</form>

</body>
</html>