<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${isNew} ? '상품 등록' : '상품 수정'">상품 등록</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<h1 th:text="${isNew} ? '상품 등록' : '상품 수정'">상품 등록</h1>


<form th:action="${isNew} ? @{/admin/products} : @{/admin/products/{id}/edit(id=${productId})}"
      th:object="${productRequest}" method="post">

    <div>
        <label>상품명:</label>
        <input type="text" th:field="*{name}" placeholder="예: 제주 한라봉 선물세트" required/>
    </div>

    <div>
        <label>가격:</label>
        <input type="number" th:field="*{price}" placeholder="예: 15000" required/>
    </div>

    <div>
        <label>이미지 URL:</label>
        <input type="text" th:field="*{imageUrl}" placeholder="예: https://example.com/img.jpg" required/>
    </div>

    <div style="margin-top: 10px;">
        <button type="submit" th:text="${isNew} ? '등록' : '수정'">등록</button>
        <a th:href="@{/admin/products}">뒤로가기</a>
    </div>
</form>

</body>
</html>
