<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정 폼</title>
    <link rel="stylesheet" th:href="@{/product-form.css}">
</head>
<body>
<h2>상품 수정</h2>
<form th:action="@{/admin/products/{id}(id=${id})}" th:method="post" th:object="${request}">
    <div>
        <label for="name">이름: </label>
        <input id="name" type="text" th:field="*{name}">
    </div>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
    <div>
        <label for="price">가격: </label>
        <input id="price" type="number" th:field="*{price}">
    </div>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>
    <div>
        <label for="quantity">수량: </label>
        <input id="quantity" type="number" th:field="*{quantity}">
    </div>
    <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="fieldError"></p>
    <input type="submit" th:value="수정">
</form>
</body>
</html>