<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>상품 관리 ADMIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<main class="container">
    <section class="title-container">
        <span class="title">상품 관리 ADMIN</span>
        <div class="button-container">
            <button
                    type="button"
                    class="add-button"
                    onclick="location.href='addItem.html'"
                    th:onclick="|location.href='@{/addItem}'|"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Add New Gift
            </button>
        </div>
    </section>
    <section class="content-container">
        <div class="table-container">
            <div class="table">
                <div class="column header">
                    <div class="checkbox-box">
                        <label>
                            <input type="checkbox" />
                        </label>
                    </div>
                    <div class="column-box">
                        <span>ID</span>
                    </div>
                    <div class="column-box">
                        <span>상품 명</span>
                    </div>
                    <div class="column-box">
                        <span>상품 가격</span>
                    </div>
                    <div class="column-box">
                        <span>상품 사진 URL</span>
                    </div>
                    <div class="column-box">
                        <span>선택 옵션</span>
                    </div>
                </div>
                <div class="column" th:each="gift: ${gifts}">
                    <div class="checkbox-box">
                        <label>
                            <input type="checkbox" />
                        </label>
                    </div>
                    <div>
                        <span class="column-text" th:text="${gift.giftId}">ID</span>
                    </div>
                    <div>
                        <span class="column-text" th:text="${gift.giftName}">상품 명</span>
                    </div>
                    <div>
                        <span class="column-text" th:text="${gift.giftPrice}">상품 가격</span>
                    </div>
                    <div>
                        <span class="column-text" th:text="${gift.giftPhotoUrl}">상품 사진 URL</span>
                    </div>
                    <div class="">
                        <button
                                class="modify-button"
                                onclick="location.href='singleGift.html'"
                                th:onclick="|location.href='@{/gift/{id}(id=${gift.id})}'|"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                        </button>
                        <form th:action="@{/gift/{giftId}/delete(giftId=${gift.id})}" method="post">
                            <button class="delete-button" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <div class="page-info-box">
                <span>총</span>
                <span class="emphasize-text">개</span>
                <span>중</span>
                <span class="emphasize-text">개</span>
            </div>
            <div class="pagination">
                <button class="pagination-button">이전</button>
                <button class="pagination-button">다음</button>
            </div>
        </div>
    </section>
</main>
</body>
</html>