<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
<h1>상품 등록</h1>
<form th:action="@{/admin/products/create-product}" method="post">
    <div>
        <label for="name">상품명:</label>
        <input type="text" id="name" name="name" required/>
    </div>
    <div>
        <label for="price">가격:</label>
        <input type="number" id="price" name="price" required/>
    </div>
    <div>
        <label for="imageUrl">이미지 URL:</label>
        <input type="url" id="imageUrl" name="imageUrl" required/>
    </div>
    <button type="submit" onclick="return confirm('상품을 등록하시겠습니까?')">등록</button>
</form>
<a th:href="@{/admin/products}">목록으로 돌아가기</a>

</body>
</html>