<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Management System</title>
</head>
<body>
<h1>상품 등록</h1>

<form th:action="@{/admin/boards}" method="post">
  <div>
    <input type="text" name="name" placeholder="이름">
  </div>
  <div>
    <input type="number" name="price" placeholder="가격">
  </div>
  <div>
    <input type="text" name="imageUrl" placeholder="이미지 Url">
  </div>
  <div>
    <button type="button" th:onclick="|location.href='@{/admin/boards}'|">취소</button>
    <button type="submit">등록</button>
  </div>

</form>
</body>
</html>