<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>상품 등록</title>
</head>
<body>
<div class="container">
  <div>
    <form role="form" action="/admin/products/new" th:object="${createFormDto}" method="post">
      <div th:if="${validationError}" th:text="${validationError}" style="color:red"></div>
      <label>이름</label>
      <input type="text" th:field="*{name}" placeholder="이름를 입력하세요">
      <label>가격</label>
      <input type="text" th:field="*{price}" placeholder="가격를 입력하세요">
      <label>이미지 url</label>
      <input type="text" th:field="*{imageUrl}" placeholder="이미지 url을 입력하세요">
      <label>담당MD 협의 여부</label>
      <input type="checkbox" th:field="*{mdOk}" placeholder="담당MD와의 협의 여부">
      <button type="submit">Submit</button>
    </form>
    <br/>
  </div> <!-- /container -->
</div> <!-- /container -->
</body>
</html>