<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div id="productForm">
    <form th:action="@{/admin/products/modify/{id}(id=${product.id})}" th:method="put">
      <p>
        상품 수정하기
      </p>
      <p>
        <strong>상품명</strong>
        <input type="text" name="name" th:value="${product.name}">
      </p>
      <p>
        <strong>가격</strong>
        <input type="number" name="price" th:value="${product.price}">
      </p>
      <p>
        <strong>이미지 주소</strong>
        <input type="text" name="imageUrl" th:value="${product.imageUrl}">
      </p>
      <p>
        <input type="submit" value="상품 수정하기">
        <button type="button" th:onclick="|location.href='@{/admin/products/list}'|">수정 취소</button></td>
      </p>
    </form>
  </div>

</div>
</html>