<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>상품 등록 페이지</title>
  <style>
    .error { color: red; }
  </style>
</head>
<body>
<div>
  <h2>상품 등록</h2>
  <form th:action="@{/admin/products}" th:object="${request}" method="post">
    <label>Name: <input type="text" th:field="*{name}" /></label>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

    <label>Price: <input type="number" th:field="*{price}" /></label>
    <label>Image Url: <input type="text" th:field="*{imageUrl}" /></label>
    <button type="submit">등록</button>
  </form>
</div>

<br>
<a th:href="@{/admin/products}">
  <button type="button">상품 목록으로 돌아가기</button>
</a>

</body>
</html>