<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<head>
  <title>상품 목록</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>


<a th:href="@{/products/new}">새 상품 추가</a>
<table border="10">
  <tr>
    <th>ID</th><th>이름</th><th>가격</th><th>이미지</th><th>작업</th>
  </tr>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price} + '원'"></td>
    <td><img th:src="${product.imageUrl}" width="100"/></td>
    <td>
      <a th:href="@{|/products/${product.id}/edit|}">수정</a>
      <form th:action="@{|/products/${product.id}/delete|}" method="post" style="display:inline;">
        <button type="submit">삭제</button>
      </form>
    </td>
  </tr>
</table>
</body>
</html>
