<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<h1 th:text="${product.id == null} ? '상품 등록' : '상품 수정'"></h1>
<form th:action="@{${product.id == null} ? '/products' : '/products/' + ${product.id}}" method="post">
  <label>이름: <input type="text" name="name" th:value="${product.name}"/></label><br/>
  <label>가격: <input type="number" name="price" th:value="${product.price}"/></label><br/>
  <label>이미지 URL: <input type="text" name="imageUrl" th:value="${product.imageUrl}"/></label><br/>
  <button type="submit">저장</button>
</form>

<a th:href="@{/products}">돌아가기</a>
</body>
</html>
