<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>회원 수정</title>
</head>
<body>
<div class="container">
  <div>
    <form th:action="@{'/admin/members/' + ${member.id}+'/update'}"
          th:object="${member}"
          method="post">
      <input type="hidden" name="_method" value="put"/>
      <label>이메일</label>
      <input type="text" th:field="*{email}" placeholder="이메일을 입력하세요">
      <label>비밀번호</label>
      <input type="text" th:field="*{password}" placeholder="비밀번호를 입력하세요">
      <button type="submit">Submit</button>
    </form>
    <br/>
  </div> <!-- /container -->
</div> <!-- /container -->
</body>
</html>