<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/modal-form-style.css">
</head>
<body>
<form id="update-form" action="/view/products/update" method="post">
  <label for="name">물품 이름</label>
  <input id="name" type="text" name="name" placeholder="물품 이름을 입력하세요">

  <label for="price">가격</label>
  <input id="price" type="number" name="price" placeholder="가격을 입력하세요">

  <label for="imageUrl">이미지 URL</label>
  <input id="imageUrl" type="text" name="imageUrl" placeholder="이미지 URL을 입력하세요">

  <button id="update-submit-button" type="submit">물품 수정</button>
</form>
</body>
</html>